### 1. Write a format string (using `str.format()` and `f'string'`) that will take the following four element tuple:

`( 2, 123.4567, 10000, 12345.67)`

and produce:
    
`'file_002 :   123.46, 1.00e+04, 1.23e+04'`

In [1]:
tup1 = ( 2, 123.4567, 10000, 12345.67)

def strngFormatter(atuple):
  element1 = atuple[0]
  element2 = '{:.2f}'.format(atuple[1])
  element3 = '{:12.2e}'.format(atuple[2])
  element4 = '{:12.2e}'.format(atuple[3])

  result = "file_00%d : %s,%s,%s"%(element1,element2, element3, element4)
  
  return result

strngFormatter(tup1)

'file_002 : 123.46,    1.00e+04,    1.23e+04'

### 2. Write a python function that output the following formatted string based on the input iterable:

`'The n numbers are: i1, i2, i3, ...'`
    
where `n` is the number in the iterable and `i1, i2 ...` are the items inside the iterable. 

for example:

`func([1, 2, 3])` will return `'The 3 numbers are: 1, 2, 3'`

`func((6, 7, 8, 9))` will return `'The 4 numbers are: 6, 7, 8, 9'`

In [0]:
myInput = (1,2,3,6,7,9)

def displayInput(input):

  a = "The %d numbers are: " %(len(input))
  b = ""
  for i in input:
    b = b + " "
    b = b + str(i)
    
  result = a+b
  return result
  
displayInput(myInput)

'The 6 numbers are:  1 2 3 6 7 9'

### 3. Write a similar function as the last one but it inputs variable-length arguments instead

`func(1, 2, 3)` will return `'The 3 numbers are: 1, 2, 3'`

`func(6, 7, 8, 9)` will return `'The 4 numbers are: 6, 7, 8, 9'`

In [0]:
varInput = (1,2,3,6,7,9)

def variableInput(*argv):
  a = "The %d numbers are: " %(len(argv))
  b = ""
  for i in argv:
    b = b + " "
    b = b + str(i)
  result = a+b
  return result
  
variableInput(1,2,3,4,5,5,5,5)

'The 8 numbers are:  1 2 3 4 5 5 5 5'

### 4. Write a format string (f'string') that will take the following tuple and return the formatted string below:

Tuple: `(4, 30, 2017, 2, 27)`

Return: `'02 27 2017 04 30'`

In [0]:
tup2 = (4, 30, 2017,2,27)

def flipper(atuple):
  element1 = atuple[0]
  element2 = atuple[1]
  element3 = atuple[2]
  element4 = atuple[3]
  element5 = atuple[4]

  result = "%d, %d, %d, %d, %d"%(element4,element5, element3, element1, element2)
  
  return result

flipper(tup2)

'2, 27, 2017, 4, 30'

### 5. Write a format string (f'string') that will take the following input and return the formatted string below:

Input: `['oranges', 1.3, 'lemons', 1.1]`
    
Return: `'The weight of an orange is 1.3 and the weight of a lemon is 1.1 and the total weight is 2.4'`

### 6. Write a function that will format each item in an input iterable object into a customized width 

syntax: `func(iterable, width)`

for example:
    
`func([1, 2, 3, 4, 5], 3)`  return `'  1  2  3  4  5'`

`func([1, 2, 3, 4, 5], 2)`  return `' 1 2 3 4 5'`

### 7. The USGS Water Data service provides retrival of streamflow data at the USGS stream gages. The download url follows the pattern below. Write a Python program 1) generate the url for a given list of gage numbers; 2) read this url and download the data to csv file (do not use numpy or pandas); 3) based on the downloaded data calculate the monthly stasticstics including maximum, minimum and average of the streamflow data and save it to another csv file. The data need to be formatted to 2 decimal digits. 4) calculate the average annual runoff of each gage (expressed in acre-feet) 


url: https://waterdata.usgs.gov/nwis/dv?&cb_00060=on&format=rdb&site_no=06803495&referred_module=sw&period=&begin_date=2019-02-11&end_date=2020-02-11

where `&site_no=06803495` define which gages are included in this data retrieval; for multiple gages, simply repeat it, e.g. `&site_no=06803495&site_no=06803486`;

the datas are specified by `&period=&begin_date=2018-02-11&end_date=2020-02-11`

You could test your program using the gages `['06803495', '06803486']` for the period between `2000-10-1` and `2019-9-30`

Hint 1: using the str.format() method to construct the url.

Hint 2: use the `urllib.request.urlopen()` to download the url:
```python
    from urllib.request import urlopen
    f = urlopen(a_url)
    lines = f.readlines()
```

Hint 3: skip the lines starts with `#` in the downloaded data.

Hint 4: print some of the downloaded lines and identify the elements in each line.

Hint 5: using the str.format() or f-string method to write `csv` file.

Hint 6: the monthly stasticstics refer to the time series of monthly stasticstics.

Hint 7: for the average annual runoff, you need to calculate the total runoff for each year and then calculate average of these annual runoff.